
- name: Check if kubectl is available
  command: kubectl version --client
  register: kubectl_check
  ignore_errors: yes
  changed_when: false

- name: Create logging namespace
  kubernetes.core.k8s:
    name: logging
    api_version: v1
    kind: Namespace
    state: present
  when: kubectl_check.rc == 0
  ignore_errors: yes

- name: Add Elastic Helm repository
  community.kubernetes.helm_repository:
    name: elastic
    repo_url: https://helm.elastic.co
  when: kubectl_check.rc == 0
  ignore_errors: yes

- name: Install Elasticsearch using Helm
  community.kubernetes.helm:
    name: elasticsearch
    chart_ref: elastic/elasticsearch
    release_namespace: logging
    create_namespace: yes
    values:
      replicas: 1
      volumeClaimTemplate:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 30Gi
  when: kubectl_check.rc == 0
  ignore_errors: yes

- name: Wait for Elasticsearch to be ready
  pause:
    seconds: 30
  when: kubectl_check.rc == 0

- name: Install Kibana using Helm
  community.kubernetes.helm:
    name: kibana
    chart_ref: elastic/kibana
    release_namespace: logging
    create_namespace: yes
    values:
      service:
        type: LoadBalancer
        port: 5601
      elasticsearchHosts: "http://elasticsearch-master:9200"
  when: kubectl_check.rc == 0
  ignore_errors: yes

- name: Install Filebeat using Helm
  community.kubernetes.helm:
    name: filebeat
    chart_ref: elastic/filebeat
    release_namespace: logging
    create_namespace: yes
    values:
      filebeatConfig:
        filebeat.yml: |
          filebeat.inputs:
          - type: container
            paths:
              - '/var/lib/docker/containers/*/*.log'
          output.elasticsearch:
            hosts: ["elasticsearch-master:9200"]
  when: kubectl_check.rc == 0
  ignore_errors: yes

- name: Display logging setup status
  debug:
    msg: "Logging stack installation initiated. Check with: kubectl get all -n logging"
  when: kubectl_check.rc == 0